<div class="container login">
  <div class="row">

    <mat-card elevation="5">

      <mat-card-subtitle>
        <h2>Login</h2>
      </mat-card-subtitle>


      <mat-card-content>
        <form>
          <mat-form-field class="full-width">
            <input matInput name="username" #username="ngModel" [(ngModel)]="usernameBufferForm" placeholder="user/admin" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput name="password" [(ngModel)]="passwordBufferForm" type="password" placeholder="123" required>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="onSubmit()" >Login</button>
        </form>
      </mat-card-content>

    </mat-card>

  </div>

</div>
